/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
/* purgecss start ignore */
/* purgecss end ignore */
@import './custom-utilities.css';
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
.theme-dark {
  /* typography */
  --primary-text: #f8f8f8;
  --primary-background: #1a202c;
  --secondary-text: #edf2f7;
  --secondary-background: #0f131a;
  /* colors */
  --primary: #65bee5;
  --secondary: #ff9c71;
  --secondary-light: #ffc3a9;
  --secondary-dark: #e58c65;
  --tertiary: #f54291;
  --tertiary-light: #faa0c8;
  --tertiary-dark: #ab2e65;
  --medium: #4a5568;
  --medium-light: #333b48;
  --medium-dark: #808895;
  /* used for headings */
  --color-1: #273469;
  /* used for navigation links */
  --color-2: #ff9c71;
}

.theme-light {
  /* typography */
  --primary-text: #0b2027;
  --primary-background: #fff;
  --secondary-text: #718096;
  --secondary-background: #a6dae3;
  /* colors */
  --primary: #cdde4e;
  --secondary: #cdde4e;
  --secondary-light: #ffc3a9;
  --secondary-dark: #e58c65;
  --tertiary: #f54291;
  --tertiary-light: #faa0c8;
  --tertiary-dark: #ab2e65;
  --medium: #f6f1ea;
  --medium-light: #f6f1ea;
  --medium-dark: #f6f1ea;
  /* used for headings */
  --color-1: #718096;
  /* used for navigation links */
  --color-2: #cdde4e;
}